body{
  background-color: darkslategrey;
  color: aliceblue;
}

#menu{
  text-align: center;
  position:relative;
  display: block;

}
nav#menu li{
  display: inline-block;
  padding: 15px;
}
nav#menu ul{
  list-style: none;
  text-transform: uppercase;
  position: absolute;
  top: -20px;
  left: 800px;
}
nav#menu h1{
  display: none;
}
nav#menu li:hover{
  background-color:darkgrey;
}
nav#menu a:link{
  color:slategrey;
  text-decoration: none;
  transition: all 0.3s ease;
  font-weight: bold;
}
nav#menu a:visited{
  color:aliceblue;
}
nav#menu a:hover{
  color:black;
}

#login{
  width: 100%;
  display: flex;
  justify-content: center;
}
.form{
  margin-top: 150px;
}

input{
  padding: 10px 10px;
    border-radius: 15px;
    text-align: center;
    align-items: center;
    display: inline-block;
    font-weight: bold;
    width: 200px;
}

button{
  background-color:#205843;
  padding: 15px 18px;
  border-radius: 15px;
  border:none;
  text-align: center;
  align-items: center;
  display: inline-block;
  font-weight: bold;
  transition: all ease 0.3s;
}
button:hover{
  background-color: black;
  color:white;
}